<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <fa-icon icon="chess-pawn" style="font-size: 330px;"></fa-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button *ngIf="!searchingGame" (click)="findGame()">Find Game</ion-button>
          <span *ngIf="searchingGame">Time waiting: {{time}} seconds</span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>